body {
  background-image: url("../../background.jpg");
  background-size: cover;
  background-repeat: no-repeat; /* Light Gray */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.order-item {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-total {
  text-align: right;
  font-weight: bold;
}
